{% extends 'layout.twig' %}

{% block body %}
  <h1 style="text-align:center; color:white; margin-top:50px; margin-bottom:50px">Welcome to {{title}}</h1>
  <div class="container">
  <div class="row justify-content-md-center" id="loginArea" style="{{ user and user._id ? 'display:none' : '' }}">
  <form action="/users/login" method="post" class="col-12 col-md-6 mb-5" id="login-form" onsubmit="submitForm.bind(this)(event)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="login-login" id="login-login-aria">username/email</span>
      </div>
      <input type="text" class="form-control" placeholder="username/email" aria-label="username/email" aria-describedby="login-login-aria" id="login-login" name="login">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="password-login" id="password-login-aria">Password</span>
      </div>
      <input type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="password-login-aria" id="password-login" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Identification</button>
    <a href="#create-form" onclick="goto.bind(this)()">Je n'ai pas de compte</a>
  </form>
  <form action="/users/create" method="post" class="col-12 col-md-6 mb-5" id="create-form" style="display: none;" onsubmit="submitForm.bind(this)(event)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="username-create" id="username-create-aria">username</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="username-create-aria" id="username-create" name="username">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="email-create" id="email-create-aria">email</span>
      </div>
      <input type="text" class="form-control" placeholder="email" aria-label="email" aria-describedby="email-create-aria" id="email-create" name="email">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="password-login" id="password-create-aria">Password</span>
      </div>
      <input type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="password-create-aria" id="password-create" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Création du compte</button>
    <a href="#login-form" onclick="goto.bind(this)()">J'ai déjà un compte</a>
  </form>
</div>
</div>
<div class="posts">
  <div class="row" style="{{ user and user._id ?: 'display:none' }}" id="postArea">
    <div class="col-md-6">
      <h1>TO DO</h1>
        <div id="postList" class="row"></div>

        <form action="/posts" method="post" autocomplete="off" class="row" id="post-add" onsubmit="submitForm.bind(this)(event)">
          <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Saisissez un titre pour cette carte..." aria-label="Votre Message" aria-describedby="post-aria" id="post" name="post"></textarea>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-lg btn-block">+ Ajouter une carte</button>
            </div>
          </div>
        </form>
      </div>
    </div>
   <div class="col-md-3"></div>

   <div class="row" style="{{ user and user._id ?: 'display:none' }}" id="postArea">
       <div class="col-md-3"></div>
       <div class="col-md-6">
         <h1>DOING</h1>
         <div id="postList1" class="row"></div>
         <form action="/posts" method="post" autocomplete="off" class="row" id="post-add" onsubmit="submitForm.bind(this)(event)">
           <div class="input-group mb-3">
             <textarea class="form-control" placeholder="Saisissez un titre pour cette carte..." aria-label="Votre Message" aria-describedby="post-aria" id="post" name="post"></textarea>
             <div class="input-group-append">
               <button type="submit" class="btn btn-primary btn-lg btn-block">Ajouter une carte</button>
             </div>
           </div>
         </form>
       </div>
     </div>
    <div class="col-md-3"></div>

    <div class="row" style="{{ user and user._id ?: 'display:none' }}" id="postArea">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1>FINISH</h1>
          <div id="postList" class="row"></div>
          <form action="/posts" method="post" autocomplete="off" class="row" id="post-add" onsubmit="submitForm.bind(this)(event)">
            <div class="input-group mb-3">
              <textarea class="form-control" placeholder="Saisissez un titre pour cette carte..." aria-label="Votre Message" aria-describedby="post-aria" id="post" name="post"></textarea>
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Ajouter une carte</button>
              </div>
            </div>
          </form>
        </div>
      </div>
     <div class="col-md-3"></div>
    <div class="menu row">
      <ul class="list-group">
        <li class="list-group-item">A propos de ce tableau</li>
        <li class="list-group-item">Changer le fond d'écran</li>
        <li class="list-group-item">Rechercher dans les cadres</li>
        <li class="list-group-item">Stickers</li>
        <li class="list-group-item">Plus...</li>
      </ul>
    </div>
  </div>

{% endblock %}
